<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body ng-app="app" ng-controller="userController">
	
	<div th:include="fragments/js :: allScripts"></div>
	
	<div th:include="fragments/header :: header"></div>
	
	<div th:include="fragments/alert :: alert"></div>

	<div>
		
		<input type="text" ng-model="user.nome" size="20" />
		<input type="submit" ng-click="addUser()" value="Add User" />
		<input type="submit" ng-click="findUser()" value="Add User error" />
		
	</div>

</body>

</html>
